.nav-link{
    color:black !important;
    font-family: Arial;
    font-weight: 700;
    font-size: 14px;

}

.carousel-inner{
    position: relative;
    width: 114%;
    margin-left: -7%;
}
.firstcontainer{
    margin-left: 8%;
}
.montht{
    font-size: 38px;
    font-weight: 700;
    font-family: sans-serif;
}
.cont{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.blue{
   border-radius: 3%;
}
.blue1{
    border-radius: 3%;
 }
 .blue2{
    border-radius: 3%;
 }
 .blue3{
    border-radius: 3%;
 }
 .blue4{
    border-radius: 3%;
 }
.texts{
    position: relative;
}
.texts1{
    position: relative;
}
.texts2{
    position: relative;
}
.texts3{
    position: relative;
}

.reservepre{
    font-size: 80%;
    position: absolute;
    top: 85%;
    right: 27%;
    font-family: sans-serif;
}

@media only screen and (max-width: 992px) {
    .reservepre{
        font-size: 50%;
        position: absolute;
        top: 85%;
        right: 27%;
        font-family: sans-serif;
    }
    
    
  }
  @media only screen and (max-width: 767px) {
    .reservepre{
        font-size: 70%;
        position: absolute;
        top: 85%;
        right: 27%;
        font-family: sans-serif;
    }
    
    
  }
  @media only screen and (max-width: 575px) {
    .reservepre{
        font-size: 110%;
        position: absolute;
        top: 85%;
        right: 37%;
        font-family: sans-serif;
    }
    .blue1{
        width: 95%;
        
    }
    .blue2{
        width: 95%;
        
    }
    .blue3{
        width: 95%;
        
    }
    .blue4{
        width: 95%;
        
    }
}
    
.galaxy{
    FONT-SIZE: 128%;
    color: white;
    position: absolute;
    top: 69%;
    right: 15%;
    font-family: sans-serif;
    font-weight: 700;
}
.galaxy1{
    font-size: 75%;
    color: white;
    position: absolute;
    top: 80%;
    right: 26%;
    font-family: sans-serif;
}

 
@media only screen and (max-width: 1199px) {
    .galaxy{
        color: white;
        font-size: 80%;
        position: absolute;
        top: 69%;
        right: 27%;
        font-family: sans-serif;
    }
    .galaxy1{
        font-size: 65%;
        color: white;
        position: absolute;
        top: 80%;
        right: 26%;
        font-family: sans-serif;
    }
    
    
  }
  @media only screen and (max-width: 990px) {
    .galaxy{
        color: white;
        font-size: 60%;
        position: absolute;
        top: 69%;
        right: 27%;
        font-family: sans-serif;
    }

    .galaxy1{
        font-size: 45%;
        color: white;
        position: absolute;
        top: 80%;
        right: 26%;
        font-family: sans-serif;
    }

  }

  @media only screen and (max-width: 575px) {
    .galaxy{
        color: white;
        font-size: 150%;
        position: absolute;
        top: 69%;
        right: 27%;
        font-family: sans-serif;
    }

    .galaxy1{
        font-size: 105%;
        color: white;
        position: absolute;
        top: 80%;
        right: 26%;
        font-family: sans-serif;
    }
  }

  .phone{
    color: black;
    font-size: 100%;
    position: absolute;
    top: 70%;
    right: 27%;
    font-family: sans-serif;
    font-weight: 700;
}

.phone1{
    font-size: 75%;
    color: black;
    position: absolute;
    top: 82%;
    right: 27%;
    font-family: sans-serif;
}


@media only screen and (max-width: 1199px) {
    
    .phone{
        color: black;
        font-size: 80%;
        position: absolute;
        top: 70%;
        right: 27%;
        font-family: sans-serif;
        font-weight: 700;
    }
    
    .phone1{
        font-size: 55%;
        color: black;
        position: absolute;
        top: 82%;
        right: 27%;
        font-family: sans-serif;
    }
    
  }
  @media only screen and (max-width: 990px) {
    
    .phone{
        color: black;
        font-size: 70%;
        position: absolute;
        top: 70%;
        right: 27%;
        font-family: sans-serif;
        font-weight: 700;
    }
    
    .phone1{
        font-size: 45%;
        color: black;
        position: absolute;
        top: 82%;
        right: 27%;
        font-family: sans-serif;
    }
    
  }
  @media only screen and (max-width: 575px) {
    .phone{
        color: black;
        font-size: 200%;
        position: absolute;
        top: 70%;
        right: 27%;
        font-family: sans-serif;
        font-weight: 700;
    }
    
    .phone1{
        font-size: 105%;
        color: black;
        position: absolute;
        top: 82%;
        right: 27%;
        font-family: sans-serif;
    }
  }
  .last{
    color: black;
    font-size: 109%;
    position: absolute;
    top: 52%;
    right: 13%;
    font-family: sans-serif;
    font-weight: 700;
}

.last1{
    font-size: 94%;
    color: black;
    position: absolute;
    top: 65%;
    right: 22%;
    font-family: sans-serif;
}

@media only screen and (max-width: 1199px) {
    .last{
        color: black;
        font-size: 89%;
        position: absolute;
        top: 52%;
        right: 13%;
        font-family: sans-serif;
        font-weight: 700;
    }
    
    .last1{
        font-size: 74%;
        color: black;
        position: absolute;
        top: 65%;
        right: 22%;
        font-family: sans-serif;
    }
    
    
  }
  @media only screen and (max-width: 990px) {
    .last{
        color: black;
        font-size: 59%;
        position: absolute;
        top: 52%;
        right: 13%;
        font-family: sans-serif;
        font-weight: 700;
    }
    
    .last1{
        font-size: 54%;
        color: black;
        position: absolute;
        top: 65%;
        right: 22%;
        font-family: sans-serif;
    }
    
    
  }
  @media only screen and (max-width: 575px) {
    .last{
        color: black;
        font-size: 150%;
        position: absolute;
        top: 52%;
        right: 25%;
        font-family: sans-serif;
        font-weight: 700;
    }
    
    .last1{
        font-size: 124%;
        color: black;
        position: absolute;
        top: 65%;
        right: 32%;
        font-family: sans-serif;
    }
    
    
  }
  .agal{
      position: absolute;
      top: -365%;
      right: 26%;
      font-family: sans-serif;
      font-size: 48px;
      font-weight: 900;
      color: black;
  }
  .snapdragon{
      position: relative;
  }
  .avail{
    font-family: Arial;
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    top: -194%;
    right: 35%;
    color: black;


  }
  .learnmore{
    font-weight: 500;
    top: -16%;
    right: 55%;
    color: black;
    position: absolute;
  }
 .buttonclass{
    top: -39%;
    position: absolute;
    right: 38%;
 }
 .mobilet{
    font-family: monospace;
    font-size: 39px;
    font-weight: 700;
    color: black;
    top: -1897%;
    right: 42%;
    position: absolute;
 }
 .galist{
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: -1772%;   
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.galist li{

    margin: 18px;
}
a.menui{
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 1399px) {
    .agal{
        position: absolute;
        top: -320%;
        right: 26%;
        font-family: sans-serif;
        font-size: 35px;
        font-weight: 900;
        color: black;
    }
    .galist{
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        top: -1672%;
        
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

}
@media only screen and (max-width: 1199px) {
    .agal{
        position: absolute;
        top: -220%;
        right: 35%;
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 900;
        color: black;
    }
    .avail{
        display: none;
    }
    .galist{
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: -1372%;
        
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .learnmore{
        display: none;
    }


}
@media only screen and (max-width: 991px) {
    .agal{
        position: absolute;
        top: -150%;
        right: 30%;
        font-family: sans-serif;
        font-size: 21px;
        font-weight: 900;
        color: black;
    }
    .avail{
        display: none;
    }
    .galist{
        font-size: 8px;
        font-weight: 700;
        position: absolute;
        top: -972%;
        
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .learnmore{
        display: none;
    }


}
@media only screen and (max-width: 770px) {
    .agal{
        position: absolute;
        top: -150%;
        right: 30%;
        font-family: sans-serif;
        font-size: 21px;
        font-weight: 900;
        color: black;
    }
    .avail{
        display: none;
    }
    .galist{
    display: none;
    }
    .learnmore{
        display: none;
    }
    .buttonclass{
        
        display: none;
     }

}
.explore1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 38px;

}
.edgesoft{
    border-radius: 4%;
}
.writing{
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding-top: 5%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.writing1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding-top: 5%;
}

@media only screen and (max-width: 1199px) {
    .writing{
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-top: 5%;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .writing1{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border: none;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 992px) {
    .writing{
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-top: 2%;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .writing1{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border: none;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 772px) {
    .writing{
        display: none;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-top: 5%;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .writing1{
        display: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border: none;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-top: 5%;
    }
}

.lookingfor{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 700;
}
.form-control{
    width: 39%;
    border-color: black;
}
.btn{
    font-weight: 200;
}
.text-editor--description-text-size-small {
    font-size: 12px;
}
.text-reset{
    text-decoration: none;
}
.text-center{
    color: black;
}
@media only screen and (max-width: 520px) {
.forwidth{
    height: 20px;
    width: 20px;

}

}

.blue{
    transition: .3s;
}
.blue:hover{
    transform: scale(1.1);
}.blue1{
    transition: .3s;
}
.blue1:hover{
    transform: scale(1.1);
}.blue2{
    transition: .3s;
}
.blue2:hover{
    transform: scale(1.1);
}.blue3{
    transition: .3s;
}
.blue3:hover{
    transform: scale(1.1);
}
.blue4{
    transition: .3s;
}
.blue4:hover{
    transform: scale(1.1);
}

.writing{
    transition: .5s;
}
.writing:hover{
    transform: scale(1.1);
}
.writing1{
    transition: .5s;
}
.writing1:hover{
    transform: scale(1.1);
}
.mainbody{
    margin: 12px;
}